.container{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(2,50%);
    width: 100vw;
    height: 100vh;
}
.todas{
  background-color: aqua;
  border:solid 2px #000;

}
